.border-right {
    border-right: var(--bs-border-width)
                    var(--bs-border-style) 
                    var(--bs-border-color) !important;
}

.border-left {
    border-left: var(--bs-border-width)
                  var(--bs-border-style) 
                  var(--bs-border-color) !important;
}
.separator{
    width:0px;
}