.dropdown-hover:hover+.dropdown-menu{
    display:block;
}
    
    .dropdown-hover>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
    }

.border-right {
    border-right: var(--bs-border-width)
                  var(--bs-border-style) 
                  var(--bs-border-color) !important;
}

.border-left {
    border-left: var(--bs-border-width)
                  var(--bs-border-style) 
                  var(--bs-border-color) !important;
}